.main-interface{
  flex: 1;
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
}
.chats-display{
  display: flex;
  flex-direction: column;
  border-right: 2px solid black;
  width: 15vw;
}
.create-join-room{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 15px 10px 15px;
  margin-bottom: 10px;
  border-bottom: 2px solid black;
  font-size: x-large;
}
.create-join-room > form{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  input{
    font-size: 15px;
    height: 30px;
    width: 120px;
  }
  button{
    margin-left: 5px;
    height: fit-content;
    width: fit-content;
    font-size: 15px;
  }
}
.create-join-room > .create-btn{
  margin-top: 10px;
  height: fit-content;
  width: fit-content;
  font-size: 15px;
}
.chats-list{
  flex: 1;
  overflow-y: scroll;
  overflow-x: hidden;
  border-top: 2px solid black;
}

.chat-area{
  display: flex;
  flex-direction: column;
  flex: 3;
}
.chat-area > .header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid black;
}
.chat-area > .header > .chat-info{
  display: flex;
  flex-direction: column;
  font-size: large;
}
.chat-area > .header > .chat-info > .chat-name{
  margin: 0
}
.chat-area > .header > .chat-info, .delete-chat{
  margin: 1% 3%;
}
.delete-chat{
  opacity: 60%;
  height: fit-content;
  width: fit-content;
  font-size: 15px;
}
.chat-area > .message-display{
  flex: 1;
  scrollbar-color: brown;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.chat-area > .chat-input-container{
  border-top: 2px solid rgb(68, 68, 68);
  height: 6%;
  padding: 3vh 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.chat-area > .chat-input-container > .chat-input{
  height: 60%;
  flex: 1;
  margin-left: 1%;
  padding: 1%;
  font-size: x-large;
}
.chat-area > .chat-input-container > .send-btn{
  margin: 2%;
  font-size:x-large;
  padding: 10px;
}

.login-screen{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-screen > .login-form > .login-header, .login-input{
  font-size: xxx-large;
  margin-top: 0;
  margin-bottom: 30px;
}